.header {
	&__title {
		position: absolute;
		top: 11%;
		right: 5%;
		display: inline-block;
		text-align: right;
		padding-right: 7rem;
		margin-bottom: 7rem;
		z-index: 1000;

		&--primary {
			font-size: 13rem;
			font-weight: 600;
			text-transform: uppercase;
			padding-bottom: 2rem;

			span {
				display: block;
			}
		}

		&--secondary {
			font-size: 4rem;
			height: 4.5rem; // To give it a fixed witdth so that the button doesn't move up when there's not text,
		}
	}
}

.maincontent {
	&__title {
		margin: 5rem;
		font-size: 4rem;
		text-align: center;
	}
}

.columns {
	&__title {
		font-size: 6rem;
	}

	&__subtitle {
		font-size: 3.5rem;
		margin-bottom: 2.25rem;
	}

	&__text {
		font-size: 2.5rem;
		line-height: 1.5;
	}
}

.credentials {
	&__title {
		font-size: 2.8rem;
		margin-bottom: 3rem;
	}
}

.footer {
	font-size: 2.5rem;
}
