@mixin cardButtonStyle($card-text-colour) {
	color: $card-text-colour;
	font-size: 1.6rem;
	text-decoration: none;
	border-bottom: 1px solid $card-text-colour;
	padding: 3px;
}

@mixin cardButtonHoverStyle($card-text-colour, $card-background-colour) {
	color: $card-text-colour;
	background-color: $card-background-colour;
}

.card__button {
	display: inline-block;
	font-size: 3rem;

	&:link,
	&:visited {
		@include cardButtonStyle(#2998FF);
	}

	&:hover {
		// color: #FFF;
		// background-color: #2998FF;
		@include cardButtonHoverStyle(#FFF, #2998FF);
	}
}