.header {
	height: 100vh;
	width: 100%;
	position: relative;

	& #devicon {
		display: block;
		position: absolute;
		top: 3rem;
		left: 3rem;
		font-size: 9.5rem;
		z-index: 1000;
		-webkit-animation: fade 3800ms ease-in-out infinite;
		animation: fade 3800ms ease-in-out infinite;
	}

	&__title {
		position: absolute;
		top: 11%;
		right: 5%;
		display: inline-block;
		text-align: right;
		padding-right: 7rem;
		margin-bottom: 7rem;
		z-index: 1000;

		&--primary {
			font-size: 13rem;
			font-weight: 600;
			text-transform: uppercase;
			padding-bottom: 2rem;

			span {
				display: block;
			}
		}

		&--secondary {
			font-size: 4rem;
			height: 4.5rem; // To give it a fixed witdth so that the button doesn't move up when there's not text, 
		}
	}

	&__slider {
		height: 100%;
		width: 100%;
		position: relative;

		&--slide {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;

			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 0;
			-webkit-transition: opacity 0.75s ease-in-out;
			transition: opacity 0.75s ease-in-out;

			&.current {
				opacity: 1;
			}

			&:first-child {
				background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 219, 137, 0.6)), to(rgba(244, 137, 130, 0.6))),
					url(../Images/jakub-dziubak-XtUd5SiX464-unsplash.jpg);
				background-image: linear-gradient(to right bottom, rgba(251, 219, 137, 0.6), rgba(244, 137, 130, 0.6)),
					url(../Images/jakub-dziubak-XtUd5SiX464-unsplash.jpg);
				// background-position: right 90% bottom 1px;
				background-size: auto auto;
				// background-position-x: left;

			}

			&:nth-child(2) {
				background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 219, 137, 0.6)), to(rgba(244, 137, 130, 0.6))),
					url(../Images/megha-ajith-WRST5Pops3E-unsplash.jpg);
				background-image: linear-gradient(to right bottom, rgba(251, 219, 137, 0.6), rgba(244, 137, 130, 0.6)),
					url(../Images/megha-ajith-WRST5Pops3E-unsplash.jpg);
				background-position-y: 6%;
			}

			&:nth-child(3) {
				background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 219, 137, 0.6)), to(rgba(244, 137, 130, 0.6))),
					url(../Images/sarah-dorweiler-9Z1KRIfpBTM-unsplash.jpg);
				background-image: linear-gradient(to right bottom, rgba(251, 219, 137, 0.6), rgba(244, 137, 130, 0.6)),
					url(../Images/sarah-dorweiler-9Z1KRIfpBTM-unsplash.jpg);
				background-position-y: 1%;
			}

			&:nth-child(4) {
				background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 219, 137, 0.6)), to(rgba(244, 137, 130, 0.6))),
					url(../Images/brooke-lark-261793-unsplash-min.jpg);
				background-image: linear-gradient(to right bottom, rgba(251, 219, 137, 0.6), rgba(244, 137, 130, 0.6)),
					url(../Images/brooke-lark-261793-unsplash-min.jpg);
			}

			&:nth-child(5) {
				background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 219, 137, 0.6)), to(rgba(244, 137, 130, 0.6))),
					url(../Images/sarah-dorweiler-2-unsplash.jpg);
				background-image: linear-gradient(to right bottom, rgba(251, 219, 137, 0.6), rgba(244, 137, 130, 0.6)),
					url(../Images/sarah-dorweiler-2-unsplash.jpg);
			}

			&:nth-child(6) {
				background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 219, 137, 0.6)), to(rgba(244, 137, 130, 0.6))),
					url(../Images/pankaj-patel-3-unsplash.jpg);
				background-image: linear-gradient(to right bottom, rgba(251, 219, 137, 0.6), rgba(244, 137, 130, 0.6)),
					url(../Images/pankaj-patel-3-unsplash.jpg);
			}

			&:nth-child(7) {
				background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 219, 137, 0.6)), to(rgba(244, 137, 130, 0.6))),
					url(../Images/niko-photos-tGTVxeOr_Rs-unsplash.jpg);
				background-image: linear-gradient(to right bottom, rgba(251, 219, 137, 0.6), rgba(244, 137, 130, 0.6)),
					url(../Images/niko-photos-tGTVxeOr_Rs-unsplash.jpg);
			}

			&:nth-child(8) {
				background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 219, 137, 0.6)), to(rgba(244, 137, 130, 0.6))),
					url(../Images/ivan-timov-663072-unsplash-min.jpg);
				background-image: linear-gradient(to right bottom, rgba(251, 219, 137, 0.6), rgba(244, 137, 130, 0.6)),
					url(../Images/ivan-timov-663072-unsplash-min.jpg);
			}

			&:nth-child(9) {
				background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 219, 137, 0.6)), to(rgba(244, 137, 130, 0.6))),
					url(../Images/pankaj-patel-1IW4HQuauSU-unsplash.jpg);
				background-image: linear-gradient(to right bottom, rgba(251, 219, 137, 0.6), rgba(244, 137, 130, 0.6)),
					url(../Images/pankaj-patel-1IW4HQuauSU-unsplash.jpg);
			}

			&:last-child {
				background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 219, 137, 0.6)), to(rgba(244, 137, 130, 0.6))),
					url(../Images/brooke-lark-385507-unsplash-min.jpg);
				background-image: linear-gradient(to right bottom, rgba(251, 219, 137, 0.6), rgba(244, 137, 130, 0.6)),
					url(../Images/brooke-lark-385507-unsplash-min.jpg);
			}
		}
	}
}