.list-title {
    font-size: 4.7rem;
    font-weight: bold;
    margin-bottom: 4rem;
}

.list-project,
.list-skills,
.list-education {
    margin: 0 auto;
    list-style: none;
    text-align: center;
}


.list-project {

    &--title {
        margin-bottom: 4rem;
    }

    &__item {
        width: 100%;
        margin-bottom: 2rem;
    }

    &__link {
        -webkit-backface-visibility: hidden;

        backface-visibility: hidden;

        &:link,
        &:visited {
            text-decoration: none;
            color: #000;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            -webkit-animation: pulse 5s ease-in infinite;
            animation: pulse 5s ease-in infinite;
        }

        &:hover,
        &:active {
            font-size: 4.75rem;
        }
    }
}

.list-skills {

    &__item {
        font-family: 'Roboto', sans-serif;
        margin-bottom: 4rem;
        font-size: 3.5rem;
    }
}


// .list__javascript {

//     &--title {
//         margin: 5rem 0;
//     }

//     &--item {
//         font-family: 'Roboto', sans-serif;
//         margin-bottom: 3rem;
//     }

// }

// .list__javascript.second {
//     margin-top: 3rem;
//     list-style: none;
//     font-size: 3.5rem;
//     text-align: center;

//     &--li {
//         margin-bottom: 3rem;
//     }
// }

.list-education {
    font-size: 3rem;

    &__title {
        margin-bottom: 5.5rem;
    }

    &__item {
        margin-bottom: 4rem;
    }
}