$colour-primaire: #55c57a;
$colour-primaire-light: #7ed56f;
$colour-primaire-dark: #28b485;

$colour-secondaire-light: #ffb900;
$colour-secondaire-dark: #ff7730;

$colour-tertiare-light: #2998ff;
$colour-tertiare-dark: #5643fa;

$colour-gris-sombre: #777;
$colour-gris-leger: #f7f7f7;
$colour-gris-supersombre: #333;

$colour-blanc: #fff;
$colour-noir: #000;

// BOX SHADOW
$default-box-shadow: 0 1rem 2rem rgba($colour-noir, 0.15);

@mixin centre-absolute-elements {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.navigation {
    &__checkbox {
        // HIDE THE ACTUAL CHECKBOX
        display: none;
    }

    // THE WHITE BUTTON WHICH WILL HAVE THE HAMBURGERS INSIDE
    &__button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; // to centre the hamburger icon
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: $colour-blanc;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 3rem;
        right: 3rem;
        border-radius: 50%;
        z-index: 2000; //NOTE: SHOULD ALWAYS BE ON TOP OF EVERYTHING
        -webkit-box-shadow: 0 1rem 3rem rgba($colour-noir, 0.1);
        box-shadow: 0 1rem 3rem rgba($colour-noir, 0.1);
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;

        &.fadeIn {
            opacity: 1;
            visibility: visible;
        }
    }

    // THIS IS THE GREEN BACKGROUND THAT WILL EXPAND using scale()
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 3.5rem;
        right: 3.5rem;
        background-image: -webkit-gradient(linear, left bottom, right top, from(#1a2934), to(#1a2934de));
        background-image: linear-gradient(to top right, #1a2934, #1a2934de);
        z-index: 1000; // NOTE: BE ON TOP OF MAIN CONTENT
        -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);


        opacity: 0;
        visibility: hidden;


        &.fadeIn {
            opacity: 1;
            visibility: visible;
        }
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0; //NOT RIHGT
        z-index: 1500; //NOTE: STAY IN THE MIDDLE

        opacity: 0;
        width: 0;

        // NOTE: We are animating opacity and NOT
        -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &--list {
            position: absolute;
            @include centre-absolute-elements();
            list-style: none;
            text-align: center;
            // float: right;
            width: 100%; //NEEDED for smooth closing transition

            &-item {
                margin: 1.5rem;
            }

            &-link {

                &:link,
                &:visited {
                    display: inline-block;
                    font-size: 3rem;
                    font-weight: 300;
                    padding: 1rem 2rem;
                    color: $colour-blanc;
                    text-decoration: none;
                    text-transform: uppercase;
                    // NOTE: THIS BACKGROUND THING IS SUPER COOL
                    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $colour-blanc 50%);
                    background-size: 220%;
                    -webkit-transition: all 0.4s;
                    transition: all 0.4s;
                }

                &:hover,
                &:active {
                    background-position: 100%;
                    color: #1A2934;
                    -webkit-transform: translateX(1rem);
                    transform: translateX(1rem);
                }
            }
        }
    }








    // TOUT AU-DESSOUS EST BON

    // NOTE: General Sibling Selector. NOT adjacent.
    &__checkbox:checked~&__background {
        -webkit-transform: scale(80);
        transform: scale(80);
    }

    &__checkbox:checked~&__nav {
        opacity: 1;
        width: 100%;
    }

    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            display: inline-block;
            width: 3rem;
            height: 2px;
            background-color: $colour-gris-supersombre;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
        }

        &::before {
            top: -0.8rem;
        }

        &::after {
            top: 0.8rem;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked+&__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked+&__button &__icon::before {
        top: 0;
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }

    &__checkbox:checked+&__button &__icon::after {
        top: 0;
        -webkit-transform: rotate(-225deg);
        transform: rotate(-225deg);
    }
}