@import url('https://fonts.googleapis.com/css?family=Kulim+Park:400,400i,600,600i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

//NOTE:NEW: HOW TO CHANGE THE HIGHLIGHT COLOR!
::selection {
    background: #3D3D3D;
    color: antiquewhite;
}

* {

    &,
    &::before,
    &::after {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

html {
    font-size: 62.5%;
}

body {
    // background-color: antiquewhite;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#FBDB89), to(#F48982));
    background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
    font-family: 'Kulim Park', Arial, Helvetica, sans-serif;

    // TESTING: TEMPORARY
    position: relative;
}

// ========================== HEADER ==========================

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.header {
    height: 100vh;
    width: 100%;
    position: relative;

    & #devicon {
        display: block;
        position: absolute;
        top: 3rem;
        left: 3rem;
        font-size: 9.5rem;
        z-index: 1000;
        -webkit-animation: fade 3800ms ease-in-out infinite;
        animation: fade 3800ms ease-in-out infinite;

    }

    &__title {
        position: absolute;
        top: 15%;
        right: 5%;
        // -webkit-transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);
        display: inline-block;
        text-align: right;
        padding-right: 7rem;
        margin-bottom: 7rem;
        z-index: 1000;


        &--primary {
            font-size: 15rem;
            font-weight: 600;
            text-transform: uppercase;
        }

        &--secondary {
            font-size: 4rem;
        }

    }

    &__slider {
        height: 100%;
        width: 100%;
        position: relative;

        &--slide {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0;
            -webkit-transition: opacity 0.75s ease-in-out;
            transition: opacity 0.75s ease-in-out;

            &.current {
                opacity: 1;
            }

            &:first-child {
                background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 219, 137, 0.6)), to(rgba(244, 137, 130, 0.6))), url(../Images/artem-bali-682651-unsplash-min.jpg);
                background-image: linear-gradient(to right bottom, rgba(251, 219, 137, 0.6), rgba(244, 137, 130, 0.6)), url(../Images/artem-bali-682651-unsplash-min.jpg);
            }

            &:nth-child(2) {
                background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 219, 137, 0.6)), to(rgba(244, 137, 130, 0.6))), url(../Images/brooke-lark-261793-unsplash-min.jpg);
                background-image: linear-gradient(to right bottom, rgba(251, 219, 137, 0.6), rgba(244, 137, 130, 0.6)), url(../Images/brooke-lark-261793-unsplash-min.jpg);
            }

            &:nth-child(3) {
                background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 219, 137, 0.6)), to(rgba(244, 137, 130, 0.6))), url(../Images/erik-dungan-1079095-unsplash-min.jpg);
                background-image: linear-gradient(to right bottom, rgba(251, 219, 137, 0.6), rgba(244, 137, 130, 0.6)), url(../Images/erik-dungan-1079095-unsplash-min.jpg);
            }

            &:nth-child(4) {
                background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 219, 137, 0.6)), to(rgba(244, 137, 130, 0.6))), url(../Images/ivan-timov-663072-unsplash-min.jpg);
                background-image: linear-gradient(to right bottom, rgba(251, 219, 137, 0.6), rgba(244, 137, 130, 0.6)), url(../Images/ivan-timov-663072-unsplash-min.jpg);
            }

            &:last-child {
                background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(251, 219, 137, 0.6)), to(rgba(244, 137, 130, 0.6))), url(../Images/brooke-lark-385507-unsplash-min.jpg);
                background-image: linear-gradient(to right bottom, rgba(251, 219, 137, 0.6), rgba(244, 137, 130, 0.6)), url(../Images/brooke-lark-385507-unsplash-min.jpg);
            }

        }
    }
}

//=========================== MAIN SECTIONS ============================
.main-parts {
    padding-right: 7rem;
    margin-bottom: 7rem;
}

// ========================== SECTION: INFO ==========================
// NOTE: THIS CLAASS IS RESPONSIBLE FOR TRANSITION ON CLICK
.info__toggleAppear {
    display: none;
}

// NOTE: Class change and effect is okay. BUt the transition is not working
.info__toggleAppear.collapse {
    display: block;
}


.info__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &--title {
        font-size: 6rem;
        text-align: center;
        cursor: pointer;
        position: relative;
        margin-bottom: 3.5rem;
        margin-right: auto;
        //NEW:
        display: inline-block;
    }

    &--arrow::after {
        content: "\2191";
        font-size: 7rem;
        padding-right: 3rem;
        cursor: pointer;
    }

    &.toggled &--arrow::after {
        content: "\2193";
    }
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 4rem;
    margin-right: 7rem;

    &__left {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        margin-right: 3.5rem;

        & ul {
            list-style: none;

            & li {
                font-family: "Cookie", cursive;
            }

            & a {

                -webkit-backface-visibility: hidden;

                backface-visibility: hidden;

                &:link,
                &:visited {
                    text-decoration: none;
                    color: #000;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }

                &:hover,
                &:active {
                    font-size: 6.75rem;
                }
            }
        }

        & a {}
    }

    &__right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;

        &--paragraph {
            font-size: 2.2rem;
            line-height: 3rem;
            margin-bottom: 3.5rem;
        }
    }
}


.item {
    padding-left: 3rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #333;
}


// LOADER
.loader {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;

    & i {


        font-size: 40rem;
        -webkit-animation-name: rotateLogo;
        animation-name: rotateLogo;
        -webkit-animation-duration: 1.75s;
        animation-duration: 1.75s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
}

.maincontent {
    opacity: 0;
    display: none;

    -webkit-transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

@-webkit-keyframes rotateLogo {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotateLogo {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}