.columns {
    &__box {
		position: relative;
		width: 100%;
		height: 100%;

		&:hover &--front {
			opacity: 0;
		}
		&:hover &--back {
			opacity: 1;
		}

		&--front,
		&--back {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			display: -webkit-box;

			display: -ms-flexbox;

			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;

			// TESTING:
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		&--front {
			font-family: "Roboto", sans-serif;
			text-transform: uppercase;
			font-weight: bold;
		}
		&--back {
			opacity: 0;
			background-color: #1a2934;
			color: #fff;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;

			padding: 0 2rem;
		}
	}

	&__list {
		list-style: none;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		font-size: 2.5rem;

		&--item {
			margin: 1.25rem;
		}
	}
}