.credentials {
	margin-top: 6rem;

	&__main-title {
		text-align: center;
		font-size: 3rem;
		margin-bottom: 3rem;
	}
	&__list {
		list-style-type: none;
		font-size: 2.5rem;

		&--item {
			margin-bottom: 5rem;
		}

		&.courses {
			list-style-type: disc;
		}
	}
}
