.skills {
	&__main-title {
		grid-column: 1 / -1;
		justify-self: center;
		font-size: 3rem;
		color: #1a2934;
	}
	&__language {
		position: relative;
		// TESTING;
		width: 100%;
		height: 100%;

		&-title {
			font-size: 1.7rem;
		}

		&:hover &--x {
			-webkit-filter: blur(1.2rem);
			filter: blur(1.2rem);
		}

		&:hover &--y {
			opacity: 1;
		}

		// these are not children (although they are nested)
		// theyre simply here to target the lang-*** class to place the grid items in the grid container
		&.lang-CSS {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}

		&.lang-JS {
			grid-column: 1 / 2;
			grid-row: 3 / 4;
		}

		&.lang-Vue {
			grid-column: 2 / 3;
			grid-row: 2 / -1;
		}
		// ===============================================================

		&--x,
		&--y {
			// ? QUESTION: ARE THESE NEEDED?
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			// ? ==============================
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;

			-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}

		&--x {
			background-color: #1a2934;
			& i {
				font-size: 9rem;
			}
		}
		&--y {
			opacity: 0;
			z-index: 1000;
		}
	}
}

//
.skills__list {
	list-style: none;
	text-align: center;

	&--item {
		font-size: 3rem;

		a {
			&:link,
			&:visited {
				color: rgb(238, 238, 238);
				-webkit-text-decoration: none;
				text-decoration: none;
			}
			&:hover,
			&:active {
				color: #fff;
				text-shadow: 0 0 5px #fff, 0 0 10px #fff, 2px 2px 2px rgba(206, 89, 55, 0);
			}
		}
	}
}
